section div.gfg-title{font-size:1.25em;font-weight:bold;margin:15px 0;color:#346276}section div.gfg-title a{text-decoration:none}section div.gfg-entry div.gf-result div.gf-title{font-size:1.2em;float:left}section div.gfg-entry div.gf-result div.gf-author{clear:both;left:0;display:block;float:left}section div.gfg-entry div.gf-result div.gf-spacer{display:none}section div.gfg-entry div.gf-result div.gf-relativePublishedDate{font-style:italic;font-size:12pt;float:right}section div.gfg-entry div.gf-result div.gf-snippet{margin:1rem 0;font-style:italic;border-bottom:1px solid gray;font-size:1.1em;padding-top:10px;padding-bottom:10px;clear:both;color:#513E33}section div.gfg-subtitle a{display:none}section div.gfg-list div.gfg-listentry{padding:0 0 0 2rem;background-image:url(../../../images/icons/agency-link.html);background-position:left center;background-repeat:no-repeat;background-size:20px 20px;width:50%;float:left;margin:1rem 0}

/*# sourceMappingURL=section.css.map */
