section ul.list li{list-style:none;background:none}section p img.bodyImg{width:100%;margin:0 auto;display:block}@media (min-width: 769px){section p img.bodyImg{width:40%}}section ul#symbols{padding-bottom:1.6em}section ul#symbols li{list-style:none;background:none;padding:0}section ul#symbols li img.symbol{margin-right:8px;width:20px}section ul#symbols li p{margin:0;display:inline}

/*# sourceMappingURL=section.css.map */
