main header section h1 .newsTitle{font-weight:700}section.news-categories{background:#a92807}section.news-categories h2{background:rgba(0,0,0,0.4)}section.news-categories a{color:white}section.newsfeed #meta{position:relative}section.newsfeed #meta h3.headline{margin:1rem 0 0 0;font-size:18px;font-size:1.125rem;line-height:1.2;max-width:90%}section.newsfeed #meta h3.headline a{text-decoration:none}@media (min-width: 1024px){section.newsfeed #meta h3.headline{font-size:24px;font-size:1.5rem}}section.newsfeed #meta p.date{position:absolute;bottom:-48px;right:0;margin:0 0 0 1rem;padding:.5em;color:white;background:rgba(0,0,0,0.25);-webkit-border-radius:2px;border-radius:2px;display:inline-block;font-size:10px;font-size:0.625rem}@media (min-width: 1024px){section.newsfeed #meta p.date{bottom:-32px}}section.newsfeed p.synopsis{padding:0 6em 1rem 0;border-bottom:1px solid #ccc;-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.8);box-shadow:0 1px 0 rgba(255,255,255,0.8)}

/*# sourceMappingURL=section.css.map */
