.business main>header section.feature{background-image:-webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0.8)), to(transparent)),url(../../../images/home/renewmybusiness.jpg);background-image:-webkit-linear-gradient(left, rgba(0,0,0,0.8), transparent),url(../../../images/home/renewmybusiness.jpg);background-image:linear-gradient(to right, rgba(0,0,0,0.8), transparent),url(../../../images/home/renewmybusiness.jpg)}.business .mdi-filter-section{background:none}@media (min-width: 769px){.business .mdi-filter-section{background:-webkit-gradient(linear, left top, right top, color-stop(40%, #346276), color-stop(50%, #513E33));background:-webkit-linear-gradient(left, #346276 40%, #513E33 50%);background:linear-gradient(to right, #346276 40%, #513E33 50%)}}.business .industry-results{display:none}

/*# sourceMappingURL=section.css.map */
