body #pageNav ul li{margin-bottom:0;font-weight:bold}body .question{font-size:1.1rem;font-style:italic;margin-bottom:5px;margin-top:30px}body img.bodyImg{float:right;width:100%;margin:0 0 1rem 0;height:auto}@media (min-width: 769px){body img.bodyImg{margin:0 18px 30px 18px;width:-webkit-calc((99.999% / 12) * 2);width:calc((99.999% / 12) * 2)}}

/*# sourceMappingURL=section.css.map */
