.submit{width:100%}.submit p label{font-weight:bold;clear:both;display:block}.submit p input,.submit p textarea{width:100%;margin:0 auto 1rem;padding:.5em;border:1px solid #ccc}.submit p textarea{height:5em}.submit p.buttons{width:70px;padding:none}.textLarge{font-size:1.25rem}@media (min-width: 769px){.twoColumn{display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex}.twoColumn .container{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}.twoColumn .container:first-child{padding:0 1rem 0 .5rem}.twoColumn .container:last-child{padding:0 .5rem 0 1rem}.twoColumn #accessibilityIssues{-webkit-box-ordinal-group:2;-ms-flex-order:2;-webkit-order:2;order:2}.twoColumn #designStandards{-webkit-box-ordinal-group:1;-ms-flex-order:1;-webkit-order:1;order:1}}@media (min-width: 1024px){.twoColumn .container:first-child{padding:0 5% 0 2.5%}.twoColumn .container:last-child{padding:0 2.5% 0 5%}}

/*# sourceMappingURL=section.css.map */
