footer {
    position: relative;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 1rem;
    font-size: 15px;
    font-size: 0.9375rem;
    color: white;
    background: #05445E;
    /* text-shadow: 0 1px 0 white  */
} 

footer .wrapper .flex-item .footer-title {
    
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 700;
    margin: .5rem 0 0 0
}

footer .wrapper .flex-item ul li {
    display: inline-block;
    margin-right: 1rem
}

@media (min-width: 480px) {
    footer .wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        margin: 1rem auto
    }

    footer .wrapper .flex-item {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1
    }

    footer .wrapper .flex-item ul li {
        display: block;
        margin: 0
    }

    footer .wrapper .flex-item#footerAwards {
        -webkit-box-flex: 2;
        -webkit-flex: 2;
        -ms-flex: 2;
        flex: 2
    }
}

footer p {
    line-height: 1.2em;
    margin: .5em 0
}

footer .copyright {
    text-align: center
}

footer a {
    color: #333333;
    text-decoration: none
}

footer a:hover {
    /* color: #333333; */
    color: white;
    text-decoration: underline
}

footer #footerSocial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 0 auto 1rem auto;
    padding: 0
}

@media (min-width: 1024px) {
    footer #footerSocial {
        width: 60%;
        margin: 0 auto;
        left: 20px;
    }
}

footer #footerSocial li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

footer #footerSocial li a {
    display: block;
    position: relative;
    bottom: 0;
    margin: 0 auto;
    height: 48px;
    line-height: 48px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    text-indent: -9999em;
    -webkit-transition: 0.4s;
    transition: 0.4s
}

footer #footerSocial li a:hover {
    bottom: 4px;
    text-decoration: none
}

@media (min-width: 480px) {
    footer #footerSocial li a {
        text-indent: 0;
        background-position: left center;
        padding-left: 26px
    }
}

@media (min-width: 769px) {
    footer #footerSocial li a {
        background-size: 32px 32px;
        padding: 0 0 0 36px
    }
}

footer #footerSocial #iconConnectTwitter a {
    background-image: url(../images/icons/twitter.svg)
}

footer #footerSocial #iconFacebook a {
    background-image: url(../images/icons/facebook.svg)
}

footer #footerSocial #iconConnectMobile a {
    background-image: url(../images/icons/lists/mobileApplications.svg)
}

footer #footerSocial #iconWidgets a {
    background-image: url(../images/icons/widgets.svg)
}

footer #footerSocial #iconConnectPhotos a {
    background-image: url(../images/icons/photo.svg)
}

footer #footerSocial #iconRSS a {
    background-image: url(../images/icons/feeds.svg)
}

footer #footerSocial #iconConnectBlogs a {
    background-image: url(../images/icons/utahBlogs.svg)
}

footer #footerSocial #iconYouTube a {
    background-image: url(../images/icons/youTube.svg)
}

footer #portalFooter {
    text-align: center
}

footer #portalFooter li {
    display: inline-block
}

footer #portalFooter li::after {
    content: " | ";
    color: #bbb
}

footer #portalFooter li:last-child::after {
    content: ""
}