@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700); /*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent
}

  
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
.national_list li{
list-style:circle;
}
.social-fotter-contactus{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding-right: 1rem;
    height: 35px;
    
    
}
.social-fotter-contactus :hover{
    color:#00a651;

}
.reachus-lable {
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  .reachus-textAera {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  .reachus-submotbtn {
    background-color: #00a651;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
.lableFeedback, select, textarea {
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
   display: inline-block;
  }
  .feedbacklable{
      width: 110px;
      display: inline-block;
  }
  .btnsubmitFeedback {
    background-color: #00a651;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display:grid;
  }
  
  .btnsubmitFeedback:hover {
    background-color: #45a049;
  }
.fa :hover{
    color: #00a651 !important;
}
img {
    max-width: 100%
}
@media (max-width: 769px){
    .social-fotter-contactus{
        display: none;
    } 
}
ul {
    list-style: none
}
.emp-form-heading{
    background-color: grey !important;
    padding: 0 0 0 !important;
    margin-bottom: 10px !important;
    font-weight: bolder;

}
.file {
    visibility: hidden;
    position: absolute;
  }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent
}

a:active, a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    border: none;
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal;
    -webkit-border-radius: 0;
    border-radius: 0
}

input[type="text"] {
    -webkit-appearance: none
}

input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

::-ms-clear {
    display: none
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both
}

html {
    position: relative;
    width: 100%;
    height: 100%;
    background: #e0dede;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 100%
}

html.showMenu {
    position: fixed;
    overflow: hidden
}

html.smallFont {
    font-size: 80%
}

html.largeFont {
    font-size: 120%
}

html.textOnly * {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black !important;
    background-color: white !important;
    background-image: none !important;
    border-color: black !important;
    text-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-indent: 0 !important
}

html.textOnly * main header {
    color: white !important;
    background: black !important
}

html.textOnly * main header section svg {
    display: none !important
}

html.textOnly * section h2 {
    background-color: #e1e1e1;
    border-bottom: 1px solid black
}

html.textOnly * section h2 svg {
    display: none !important
}

html.textOnly * svg path, html.textOnly * svg polygon, html.textOnly * svg rect, html.textOnly * svg circle {
    fill: #000000 !important
}

html.textOnly * .locationAwareMap {
    display: none
}

html.textOnly * img {
    display: none !important
}

html.textOnly * ::-webkit-input-placeholder {
    color: black !important
}

html.textOnly * ::-moz-placeholder {
    color: black !important
}

html.textOnly * ::-moz-placeholder {
    color: black !important
}

html.textOnly * ::-ms-input-placeholder {
    color: black !important
}

html.textOnly * .showing-outofstate {
    font-size: .8em;
    font-style: italic
}

html.textOnly * input[type=text], html.textOnly * textarea {
    color: black;
    padding: .5rem !important;
    border: 1px solid black !important
}

html.textOnly * button {
    color: black;
    border: 1px solid black !important
}

html.textOnly * #overlay {
    background: rgba(0, 0, 0, 0.4) !important
}

html.textOnly * header#main-header .toggle-menu span {
    background: black !important
}

html.textOnly * header#main-header .toggle-menu span::before {
    background: black !important
}

html.textOnly * header#main-header .toggle-menu span::after {
    background: black !important
}

html.textOnly * header#main-header .toggle-menu.active span {
    background: white !important
}

html.highContrast * {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #eaf574 !important;
    background-color: black !important;
    background-image: none !important;
    border-color: #eaf574 !important;
    text-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-indent: 0 !important
}

html.highContrast * main header section svg {
    display: none !important
}

html.highContrast * section h2 {
    background-color: #e1e1e1;
    border-bottom: 1px solid black
}

html.highContrast * section h2 svg {
    display: none !important
}

html.highContrast * svg path, html.highContrast * svg polygon, html.highContrast * svg rect, html.highContrast * svg circle {
    fill: #eaf574 !important
}

html.highContrast * .locationAwareMap {
    display: none
}

html.highContrast * img {
    display: none !important
}

html.highContrast * ::-webkit-input-placeholder {
    color: #eaf574 !important
}

html.highContrast * ::-moz-placeholder {
    color: #eaf574 !important
}

html.highContrast * ::-moz-placeholder {
    color: #eaf574 !important
}

html.highContrast * ::-ms-input-placeholder {
    color: #eaf574 !important
}

html.highContrast * .showing-outofstate {
    font-size: .8em;
    font-style: italic
}

html.highContrast * input[type=text], html.highContrast * textarea {
    color: #eaf574;
    background-color: white;
    padding: .5rem !important;
    border: 1px solid #eaf574 !important
}

html.highContrast * button {
    color: #eaf574;
    border: 1px solid #eaf574 !important
}

html.highContrast * #overlay {
    background: rgba(0, 0, 0, 0.4) !important
}

html.highContrast * header#main-header .toggle-menu span {
    background: #eaf574 !important
}

html.highContrast * header#main-header .toggle-menu span::before {
    background: #eaf574 !important
}

html.highContrast * header#main-header .toggle-menu span::after {
    background: #eaf574 !important
}

html.highContrast * header#main-header .toggle-menu.active span {
    background: black !important
}

body {
    position: relative;
    font-family: "Open Sans Condensed", "Open Sans", Helmut, sans-serif;
    font-weight: 300;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    left: 0;
    -webkit-transition: left .4s;
    transition: left .4s
}

body.showMenu {
    left: 80%;
    overflow: hidden
}
.footer-text{
    color: white !important;
}
body.showMenu #overlay {
    display: block
}

body.showMenu #main-header .wrapper {
    left: 80%
}
.utahgov-logo{

    width: 360px !important;
}
a {
    color: #00a651;
    text-decoration: none
}
.clickme{
    color: white !important;
}
a:link {
    color: #05445e;
    text-decoration: none
}

a:visited {
    color: #05445e;
}

a:hover {
    color: #a92807;
    text-decoration: underline
}

a.button {
    display: inline-block;
    color: white;
    background: #00a651;
    line-height: 2;
    padding: 0 .5rem;
    text-shadow: none;
    font-weight: 700
}

.wrapper, .container {
    width: 100%;
    margin: 0;
    padding: 0
}

@media (min-width: 1024px) {
    .wrapper, .container {
        width: 90%;
        margin: 0 auto
    }
}

#overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
    cursor: pointer
}

#backToTop {
    opacity: 0;
    position: fixed;
    width: 32px;
    height: 32px;
    bottom: 20px;
    right: 25px;
    z-index: 99;
    background: url(../images/main/backToTop.svg) center center no-repeat;
    background-size: 32px;
    text-indent: -9999em;
    -webkit-transition: opacity .8s;
    transition: opacity .8s
}

#backToTop.show {
    opacity: 0.8
}

@media (min-width: 769px) {
    #backToTop {
        width: 46px;
        height: 46px;
        background-size: 46px
    }
}

#skiptocontent {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    top: -100px
}

.showing-outofstate {
    font-size: .8em;
    font-style: italic
}

.hide {
    display: none !important
}

.container {
    padding: 1rem
}

.container::after {
    content: " ";
    display: table;
    clear: both
}

@media (min-width: 1024px) {
    .container {
        padding: 1.5rem 0
    }
}

@media (min-width: 1366px) {
    .container {
        padding: 2rem 0
    }
}

.grid_1, .grid_2, .grid_3, .grid_4, .grid_6, .grid_8, .grid_12 {
    float: none;
    width: 100%;
    margin: 0;
    padding: 0
}

@media (min-width: 769px) {
    .grid_1, .grid_2, .grid_3, .grid_4, .grid_6, .grid_8, .grid_12 {
        float: left;
        margin: 0;
        padding: 0 1rem 0 0
    }

    .grid_1:last-child, .grid_2:last-child, .grid_3:last-child, .grid_4:last-child, .grid_6:last-child, .grid_8:last-child, .grid_12:last-child {
        padding-right: 0
    }
}

@media (min-width: 1024px) {
    .grid_1, .grid_2, .grid_3, .grid_4, .grid_6, .grid_8, .grid_12 {
        padding: 0 2.5% 0 0
    }

    .grid_1:last-child, .grid_2:last-child, .grid_3:last-child, .grid_4:last-child, .grid_6:last-child, .grid_8:last-child, .grid_12:last-child {
        padding-right: 0
    }
}

@media (min-width: 769px) {
    .grid_1 {
        width: 8.25%;
        width: -webkit-calc((99.999% / 12) * 1);
        width: calc((99.999% / 12) * 1)
    }
}

@media (min-width: 769px) {
    .grid_2 {
        width: 16.5%;
        width: -webkit-calc((99.999% / 12) * 2);
        width: calc((99.999% / 12) * 2)
    }
}

@media (min-width: 769px) {
    .grid_3 {
        width: 24.75%;
        width: -webkit-calc((99.999% / 12) * 3);
        width: calc((99.999% / 12) * 3)
    }
}

@media (min-width: 769px) {
    .grid_4 {
        width: 33.33%;
        width: -webkit-calc((99.999% / 12) * 4);
        width: calc((99.999% / 12) * 4)
    }
}

@media (min-width: 769px) {
    .grid_6 {
        width: 49.9%;
        width: -webkit-calc((99.999% / 12) * 6);
        width: calc((99.999% / 12) * 6)
    }
}

@media (min-width: 769px) {
    .grid_8 {
        width: 66%;
        width: -webkit-calc((99.999% / 12) * 8);
        width: calc((99.999% / 12) * 8)
    }
}

.grid_12 {
    float: left;
    width: 100%;
    width: -webkit-calc((99.999% / 12) * 12);
    width: calc((99.999% / 12) * 12)
}

.grid_list_3, .grid_list_4, .grid_list_6 {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden
}

.grid_list_3 li, .grid_list_3 dd, .grid_list_4 li, .grid_list_4 dd, .grid_list_6 li, .grid_list_6 dd {
    float: none;
    width: 100%
}

@media (min-width: 480px) {
    .grid_list_3 li, .grid_list_3 dd, .grid_list_4 li, .grid_list_4 dd, .grid_list_6 li, .grid_list_6 dd {
        float: left;
        width: 49.9%;
        width: -webkit-calc((99.999% / 12) * 6);
        width: calc((99.999% / 12) * 6);
        padding-right: 1rem
 
    }
}

@media (min-width: 1024px) {
    .grid_list_3 li, .grid_list_3 dd, .grid_list_4 li, .grid_list_4 dd, .grid_list_6 li, .grid_list_6 dd {
        padding-right: 1.5rem
    }
}

@media (min-width: 1366px) {
    .grid_list_3 li, .grid_list_3 dd, .grid_list_4 li, .grid_list_4 dd, .grid_list_6 li, .grid_list_6 dd {
        padding-right: 2rem
    }
}

@media (min-width: 769px) {
    .grid_list_3 li, .grid_list_3 dd {
        width: 24.75%;
        width: -webkit-calc((99.999% / 12) * 3);
        width: calc((99.999% / 12) * 3)
    }
}

@media (min-width: 769px) {
    .grid_list_4 li, .grid_list_4 dd {
        width: 33%;
        width: -webkit-calc((99.999% / 12) * 4);
        width: calc((99.999% / 12) * 4)
    }
}

@media (min-width: 769px) {
    .grid_list_6 li, .grid_list_6 dd {
        width: 49.75%;
        width: -webkit-calc((99.999% / 12) * 6);
        width: calc((99.999% / 12) * 6)
    }
}

#settings {
    font-size: 14px;
    font-size: 0.875rem;
    position: relative;
    height: 0;
    overflow: hidden;
    color: white;
    padding: 0;
    background: #676767;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    line-height: 1rem
}

@media (min-width: 769px) {
    #settings {
        font-size: 16px;
        font-size: 1rem;
        padding: 0 .5rem
    }
}

#settings p {
    float: left;
    font-weight: 300
}

#settings a {
    display: inline-block;
    text-decoration: none;
    text-align: center
}

#settings a.active {
    font-style: italic;
    background: rgba(0, 0, 0, 0.2)
}

#settings a, #settings button {
    color: white;
    line-height: 1.5rem;
    margin: 0 .25rem;
    padding: 0 .5rem;
    background: #00a651;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.125)), to(transparent));
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.125), transparent);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.125), transparent);
    border: 1px solid #444;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 2px;
    border-radius: 2px
}

#settings a:hover, #settings button:hover {
    background: rgba(0, 0, 0, 0.5)
}

#settings p.settings {
    float: left
}

#settings #fontSizer {
    display: none
}

#settings #fontSizer a {
    line-height: 1.25
}

#settings #fontSizer a.small {
    font-size: .8em
}

#settings #fontSizer a.large {
    font-size: 1.4em
}

@media (min-width: 769px) {
    #settings #fontSizer {
        display: block
    }
}

#settings #locationUpdate {
    float: right
}

#settings #locationUpdate input {
    width: 12rem;
    height: 2rem;
    border: none;
    margin: .2rem;
    padding: .2rem;
    color: #676767;
    background: rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 2px;
    border-radius: 2px
}

#settings #locationUpdate input::-webkit-input-placeholder {
    color: black
}

#settings #locationUpdate input::-moz-placeholder {
    color: black
}

#settings #locationUpdate input::-moz-placeholder {
    color: black
}

#settings #locationUpdate input::-ms-input-placeholder {
    color: black
}
@media (max-width: 480px){
    .home-subheading{
        font-weight: bolder !important;
        font-size: 22px;
    } 
    .Initiatives-subheading{
        font-weight: bolder !important;
        font-size: 22px;
    } 
    .Info-Desk-subheading{
        font-weight: bolder !important;
        font-size: 22px;
    }
    .Projects-subheading{
        font-weight: bolder !important;
        font-size: 22px;
    }
    .Tender-subheading{
        font-weight: bolder !important;
        font-size: 22px;
    }
    .Transfer-Postings-subheading{
        font-weight: bolder !important;
        font-size: 22px;
    }
    .Campaigns-subheading{
        font-weight: bolder !important;
        font-size: 22px;

    }
    .Careers-subheading{
        font-weight: bolder !important;
        font-size: 22px;
    }
    .Contact-us-subheading{
        font-weight: bolder !important;
        font-size: 22px;

    }
}

#settings.open {
    height: 2rem;
    line-height: 2rem
}

@media (min-width: 769px) {
    #settings.open {
        height: 3rem;
        line-height: 3rem
    }
}

#settings.location #fontSizer, #settings.location .settings {
    display: none
}

#settings.location #locationCheckin, #settings.location #locationUpdate {
    display: block
}

#settings #locationCheckin, #settings #locationUpdate {
    display: none
}

header#main-header {
    width: 100%;
    min-height: 5rem;
    color: #f2f2f2;
    -webkit-transition: .4s;
    transition: .4s
}

.home header#main-header {
    min-height: 0
}

@media (min-width: 769px) {
    header#main-header {
        z-index: 10;
        min-height: 7rem
    }
}

header#main-header a {
    color: #f2f2f2
}

header#main-header .wrapper {
    position: fixed;
    width: 100%;
    height: 5rem;
    top: 0;
    left: 0;
    right: 0;
    background: #f2f2f2;
    border-top: 2px solid #8b0f0a;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    z-index: 2;
    -webkit-transition: .4s;
    transition: .4s
}

@media (min-width: 769px) {
    header#main-header .wrapper {
        position: relative;
        height: auto;
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        display: none
    }
}

header#main-header #logo {
    display: block;
    margin: 10px auto 0 auto;
    width: 56px;
    height: 56px;
    z-index: 10;
    -webkit-transition: .4s;
    transition: .4s
}

header#main-header #logo svg {
    width: 56px;
    height: 56px
}

@media (min-width: 769px) {
    header#main-header #logo {
        display: none
    }
}

header#main-header .toggle-menu {
    display: block;
    position: absolute;
    overflow: hidden;
    top: 1.5rem;
    left: 1.5rem;
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    background: transparent;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    cursor: pointer
}

header#main-header .toggle-menu:focus {
    outline: none
}

header#main-header .toggle-menu span {
    display: block;
    position: absolute;
    top: 14px;
    left: 4px;
    right: 0;
    width: 24px;
    height: 4px;
    background: #05445E;
    -webkit-transition: none;
    transition: none
}

header#main-header .toggle-menu span:before, header#main-header .toggle-menu span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 24px;
    height: 4px;
    background-color:#05445E;
    content: "";
    -webkit-transition: all 0.4s 0.3s;
    transition: all 0.4s 0.3s
}

header#main-header .toggle-menu span:before {
    top: -8px
}

header#main-header .toggle-menu span::after {
    top: 8px
}

header#main-header .toggle-menu.active {
    background: #676767
}

header#main-header .toggle-menu.active span {
    background: #676767
}

header#main-header .toggle-menu.active span:before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: white
}

header#main-header .toggle-menu.active span::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: white
}

header#main-header nav {
    position: fixed;
    width: 80%;
    height: 100%;
    top: 0;
    left: -80%;
    bottom: 0;
    z-index: 0;
    background: #666;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: left .4s;
    transition: left .4s
}

@media (min-width: 769px) {
    header#main-header nav {
        position: relative;
        right: 0;
        bottom: auto;
        left: 0;
        width: 100%;
        height: 8.6rem;
        background: rgba(224, 222, 222, 0.85);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.8)), color-stop(100%, rgba(224, 222, 222, 0.9)));
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(224, 222, 222, 0.9) 100%);
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(224, 222, 222, 0.9)));
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(224, 222, 222, 0.9) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccffffff', endColorstr='#e6e0dede', GradientType=0);
        -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
        text-align: right;
        overflow: visible;
        z-index: 2;
        -webkit-transition: height .4s;
        transition: height .4s
    }

    .home header#main-header nav {
        position: fixed
    }

    header#main-header nav.settingsOpen {
        height: 10rem
    }

    header#main-header nav.settingsOpen .drop-down {
        top: 10rem
    }
}

header#main-header nav ul {
    width: 100%
}

@media (min-width: 769px) {
    header#main-header nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex
    }
}

header#main-header nav ul li {
    border-top: 1px solid #777;
    border-bottom: 1px solid #333
}

@media (min-width: 769px) {
    header#main-header nav ul li {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        text-align: center;
        border: none;
        font-size: 14px;
        font-size: 0.875rem;
        height: 6rem
    }
}

@media (min-width: 1024px) {
    header#main-header nav ul li {
        font-size: 16px;
        font-size: 1rem
    }
}

header#main-header nav ul li a {
    display: block;
    text-decoration: none;
    padding: 0.8rem 1rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5)
}

header#main-header nav ul li a span {
    font-weight: 700;
    
}

header#main-header nav ul li a svg:not(.utahgov-logo) {
    width: 24px;
    height: 24px;
    margin: 0 1rem 0 0;
    vertical-align: bottom
}

@media (max-width:769px){
    header#main-header nav ul li a svg:not(.utahgov-logo) {
        width: 24px;
        height: 24px;
        margin: 0 1rem 0 0;
        vertical-align: bottom;
        float:left ;
    }
}

header#main-header nav ul li a svg:not(.utahgov-logo) path, header#main-header nav ul li a svg:not(.utahgov-logo) polygon, header#main-header nav ul li a svg:not(.utahgov-logo) rect {
    fill: #e0dede
}




@media (max-width: 769px) {
    header#main-header nav ul li a span {
        font-weight: 700;
        color: white !important;
        padding: 6px;
        white-space: nowrap;
        
        
    }
    
}
@media (min-width: 769px) {
    header#main-header nav ul li a svg:not(.utahgov-logo) {
        display: block;
        margin: 0 auto;
        width: 20px;
        height: 20px
    }


    header#main-header nav ul li a svg:not(.utahgov-logo) path, header#main-header nav ul li a svg:not(.utahgov-logo) polygon, header#main-header nav ul li a svg:not(.utahgov-logo) rect {
        fill: #000
    }
    
}

@media (min-width: 1024px) {
    header#main-header nav ul li a svg:not(.utahgov-logo) {
        width: 24px;
        height: 24px
    }
}

@media (min-width: 769px) {
    /* header#main-header nav ul li a {
        color: #222;
        height: 6rem;
        padding: 1.2rem 0 0 0;
        text-align: center;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
        -webkit-transition: background .6s;
        transition: background .6s
    } */

    header#main-header nav ul li a {
        color: #777;
        height: 6rem;
        padding: 1.2rem 0 0 0;
        text-align: center;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
        -webkit-transition: background .6s;
        transition: background .6s
    }


    header#main-header nav ul li a:hover {
        color: #513E33;
        background: rgba(255, 255, 255, 0.425)
    }

    header#main-header nav ul li a:hover svg:not(.utahgov-logo) path, header#main-header nav ul li a:hover svg:not(.utahgov-logo) polygon, header#main-header nav ul li a:hover svg:not(.utahgov-logo) rect {
        fill: #05445E
    }

    header#main-header nav ul li a span {
        font-weight: 300
    }
}

@media (min-width: 1024px) {
    header#main-header nav ul li a {
        padding-top: 1rem
    }
}

header#main-header nav ul li .drop-down {
    display: none
}

header#main-header nav ul li .drop-down .container {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%
}

header#main-header nav ul li .drop-down h3 {
    display: none
}

header#main-header nav ul li .drop-down ul li {
    border: none;
    text-align: left
}

header#main-header nav ul li .drop-down ul li a {
    padding: .5rem 0 .5rem 44px;
    font-weight: 300;
    text-align: left
}

@media (min-width: 769px) {
    header#main-header nav ul li .drop-down {
        position: absolute;
        width: 100%;
        top: 8rem;
        left: 0;
        right: 0;
        height: 18rem;
        padding: 1rem 0;
        background: white;
        -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        -webkit-transition: top .4s;
        transition: top .4s
    }

    header#main-header nav ul li .drop-down h3 {
        display: block;
        float: left;
        width: 14%;
        height: 100%;
        font-size: 24px;
        font-size: 1.5rem;
        color: #00a651;
        text-align: left
    }

    header#main-header nav ul li .drop-down h3 a {
        margin: 0;
        padding: 0;
        height: auto;
        text-align: left
    }

    header#main-header nav ul li .drop-down h3 a:hover {
        color: #00a651
    }

    header#main-header nav ul li .drop-down ul {
        position: relative;
        display: block;
        float: left;
        width: 86%;
        height: 100%;
        padding-right: 1rem;
        padding-bottom: 2rem;
        -webkit-columns: 2 6em;
        -moz-columns: 2 6em;
        columns: 2 6em;
        -webkit-column-gap: 1em;
        -moz-column-gap: 1em;
        column-gap: 8em;
        overflow: hidden
    }

    header#main-header nav ul li .drop-down ul li {
        width: 100%;
        height: auto
    }

    header#main-header nav ul li .drop-down ul li a {
        padding: .5rem;
        height: auto;
        line-height: 1.2;
        -webkit-border-radius: 2px;
        border-radius: 2px
    }

    header#main-header nav ul li .drop-down ul li a:hover {
        color: #05445E;
        background: #f2f2f2
    }

    header#main-header nav ul li .drop-down ul li.nav-more {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-right: 1rem
    }

    header#main-header nav ul li .drop-down ul li.nav-more a {
        font-weight: 700;
        text-align: center;
        color: #676767;
        background: #f2f2f2;
        border: 1px solid #e0dede
    }

    header#main-header nav ul li .drop-down ul li.nav-more a:hover {
        color: #05445E;
        background: white;
        border-color: #999
    }

    header#main-header nav ul li .drop-down .feature {
        position: relative;
        float: right;
        width: 22%;
        height: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border-left: 1rem solid white;
        
        background-size: cover
    }

    header#main-header nav ul li .drop-down .feature a.infographic {
        position: relative;
        height: 100%;
        color: #fdf6da
    }

    header#main-header nav ul li .drop-down .feature a.infographic img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%
    }

    header#main-header nav ul li .drop-down .feature a.infographic h4 {
        position: absolute;
        top: 0;
        width: 100%;
        margin: 0;
        padding: 1rem;
        font-size: 36px;
        font-size: 2.25rem;
        line-height: 1;
        font-weight: 700;
        background: rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
        text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        -webkit-transition: .4s;
        transition: .4s
    }

    header#main-header nav ul li .drop-down .feature a.infographic em {
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 100%;
        height: 5rem;
        padding-top: 1.75rem;
        background: url(../images/infographics/menu/mountains.png);
        font-size: 24px;
        font-size: 1.5rem;
        text-transform: uppercase;
        text-indent: 0;
        text-shadow: none;
        -webkit-transition: 0.4s;
        transition: 0.4s
    }

    header#main-header nav ul li .drop-down .feature a.infographic:hover {
        background: transparent
    }

    header#main-header nav ul li .drop-down .feature a.infographic:hover h4 {
        padding-top: 1.5rem;
        font-size: 48px;
        font-size: 3rem
    }

    header#main-header nav ul li .drop-down .feature a.infographic:hover em {
        bottom: 0;
        height: 5rem
    }
}

header#main-header nav ul li.open {
    background: #4e4e4e;
    padding-bottom: .5rem;
    border-top: 1px solid #444
}

header#main-header nav ul li.open a {
    color: white
}

header#main-header nav ul li.open svg:not(.utahgov-logo) path, header#main-header nav ul li.open svg:not(.utahgov-logo) polygon, header#main-header nav ul li.open svg:not(.utahgov-logo) rect {
    fill: white
}

@media (min-width: 769px) {
    header#main-header nav ul li.open {
        background: rgb(207, 207, 207);
        border: none;
        padding-bottom: 0
    }

    header#main-header nav ul li.open a {
        color: black
    }

    header#main-header nav ul li.open svg:not(.utahgov-logo) path, header#main-header nav ul li.open svg:not(.utahgov-logo) polygon, header#main-header nav ul li.open svg:not(.utahgov-logo) rect {
        fill: #00a651
    }
}
@media (max-width: 600px) {
    .footer-counter{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap:wrap ;
       
    }
    .footer-counter-text{
        margin-top: 0 !important;
    }

    }

header#main-header nav ul li#nav-home a {
    text-align: center;
    padding: 8px 0
}

header#main-header nav ul li#nav-home a svg {
    width: 32px;
    height: 32px;
    margin: 0
}

header#main-header nav ul li#nav-home a svg path:not(.dot) {
    fill: white
}

header#main-header nav ul li#nav-home a:hover {
    background: none
}

@media (min-width: 769px) {
    header#main-header nav ul li#nav-home {
        -webkit-box-flex: 1.5;
        -webkit-flex: 1.5;
        -ms-flex: 1.5;
        flex: 1.5
    }


    header#main-header nav ul li#nav-home a {
        display: inline
    }

    header#main-header nav ul li#nav-home a svg {
       
        height: 100px
    }

    header#main-header nav ul li#nav-home a svg path.blue {
        fill: #00a651
    }

    header#main-header nav ul li#nav-home a svg path.brown {
        fill: #513E33
    }
}
@media (max-width:480px){
    .heading-text{
        font-size: 12px !important;

    }
    .heading-text1{
        font-size: 12px !important;

    }
    
}
@media (max-width: 769px) {
    header#main-header nav ul li#nav-home a svg {
        width: 145px !important;
        height: 90px !important;
        margin: 0;
    }}
@media (min-width: 1024px) {
    header#main-header nav ul li#nav-home {
        -webkit-box-flex: 2;
        -webkit-flex: 2;
        -ms-flex: 2;
        flex: 2
    }
}

header#main-header nav ul li#nav-government .feature .gov-link {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -webkit-box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.5)
}

header#main-header nav ul li#nav-government .feature .gov-link h4 {
    position: absolute;
    color: white;
    top: auto;
    bottom: .5rem;
    width: 100%;
    text-align: center;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2)
}

header#main-header nav ul li#nav-government .feature ul.gov-priorities, header#main-header nav ul li#nav-government .feature ul.gov-social {
    float: right;
    width: 50%;
    height: auto;
    padding: .5rem;
    border: none;
    -webkit-columns: 1 100em;
    -moz-columns: 1 100em;
    columns: 1 100em;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0
}

header#main-header nav ul li#nav-government .feature ul.gov-priorities li, header#main-header nav ul li#nav-government .feature ul.gov-social li {
    display: block;
    width: 100%;
    float: none;
    margin: 0 0 .5rem 0
}

header#main-header nav ul li#nav-government .feature ul.gov-priorities li a, header#main-header nav ul li#nav-government .feature ul.gov-social li a {
    padding-left: 32px;
    background-color: rgba(255, 255, 255, 0.4);
    background-position: 8px center;
    background-repeat: no-repeat;
    background-size: 1rem
}

header#main-header nav ul li#nav-government .feature ul.gov-priorities li a:hover, header#main-header nav ul li#nav-government .feature ul.gov-social li a:hover {
    background-color: rgba(255, 255, 255, 0.8)
}

header#main-header nav ul li#nav-government .feature ul.gov-priorities li.gov-jobs a, header#main-header nav ul li#nav-government .feature ul.gov-social li.gov-jobs a {
    background-image: url(../images/icons/lists/gov/employment.svg)
}

header#main-header nav ul li#nav-government .feature ul.gov-priorities li.gov-education a, header#main-header nav ul li#nav-government .feature ul.gov-social li.gov-education a {
    background-image: url(../images/icons/lists/gov/education.svg)
}

header#main-header nav ul li#nav-government .feature ul.gov-priorities li.gov-energy a, header#main-header nav ul li#nav-government .feature ul.gov-social li.gov-energy a {
    background-image: url(../images/icons/lists/gov/energy.svg)
}

header#main-header nav ul li#nav-government .feature ul.gov-priorities li.gov-self a, header#main-header nav ul li#nav-government .feature ul.gov-social li.gov-self a {
    background-image: url(../images/icons/lists/gov/self.svg)
}

header#main-header nav ul li#nav-government .feature ul.gov-priorities li.twitter a, header#main-header nav ul li#nav-government .feature ul.gov-social li.twitter a {
    background-image: url(../images/icons/lists/twitter.svg)
}

header#main-header nav ul li#nav-government .feature ul.gov-priorities li.facebook a, header#main-header nav ul li#nav-government .feature ul.gov-social li.facebook a {
    background-image: url(../images/icons/lists/facebook.svg)
}

header#main-header nav ul li#nav-government .feature ul.gov-priorities li.rss a, header#main-header nav ul li#nav-government .feature ul.gov-social li.rss a {
    background-image: url(../images/icons/lists/feeds.svg)
}

header#main-header nav ul li#nav-government .feature ul.gov-priorities li.youtube a, header#main-header nav ul li#nav-government .feature ul.gov-social li.youtube a {
    background-image: url(../images/icons/lists/youTube.svg)
}

header#main-header nav ul li#nav-government .feature ul.gov-priorities li.inline-li, header#main-header nav ul li#nav-government .feature ul.gov-social li.inline-li {
    float: left;
    width: 25%;
    padding-right: .25rem
}

header#main-header nav ul li#nav-government .feature ul.gov-priorities li.inline-li a, header#main-header nav ul li#nav-government .feature ul.gov-social li.inline-li a {
    height: 2rem;
    padding: .5rem;
    background-position: center;
    text-indent: -9999em
}

header#main-header nav ul li#nav-government .feature ul.gov-priorities li.inline-li:last-child, header#main-header nav ul li#nav-government .feature ul.gov-social li.inline-li:last-child {
    padding-right: 0
}

header#main-header nav ul li#nav-government .feature ul.gov-social {
    float: none;
    padding: 0 .5rem;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 48px;
    background: rgba(0, 0, 0, 0.2)
}

header#main-header nav ul li#nav-government .feature ul.gov-social li {
    margin: .5rem 0 0 0
}

header#main-header nav ul li#nav-search form {
    position: relative;
    width: 100%;
    margin: 1rem 0;
    padding: 0 1rem
}

header#main-header nav ul li#nav-search form label {
    display: none
}

header#main-header nav ul li#nav-search form input[type=text] {
    width: 100%;
    height: 3rem;
    color: #676767;
    margin: 0;
    padding: 0.5rem 1rem;
    background: #e0dede;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0
}

header#main-header nav ul li#nav-search form input[type=text]::-webkit-input-placeholder {
    color: #00a651
}

header#main-header nav ul li#nav-search form input[type=text]::-moz-placeholder {
    color: #00a651
}

header#main-header nav ul li#nav-search form input[type=text]::-moz-placeholder {
    color: #00a651
}

header#main-header nav ul li#nav-search form input[type=text]::-ms-input-placeholder {
    color: #00a651
}

header#main-header nav ul li#nav-search form button[type=submit] {
    position: absolute;
    top: 0;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    text-indent: 999em;
    overflow: hidden;
    border: none;
    background: #00a651 url(../images/icons/search-white.svg) center center no-repeat;
    background-size: 32px;
    text-align: center
}

@media (min-width: 769px) {
    header#main-header nav ul li#nav-search form {
        padding-top: 5.5rem;
        width: 90%;
        margin: 0 auto
    }

    header#main-header nav ul li#nav-search form input[type=text] {
        height: 4rem;
        font-size: 24px;
        font-size: 1.5rem
    }

    header#main-header nav ul li#nav-search form button[type=submit] {
        width: 4rem;
        height: 4rem;
        top: 5.5rem
    }
}

@media (min-width: 769px) {
    .home header#main-header nav ul li#nav-search, .searchresults header#main-header nav ul li#nav-search, .search-results header#main-header nav ul li#nav-search {
        display: none
    }
}
header#main-header nav ul li#nav-connect .feature a.infographic em {
    padding-top: 1.2rem;
    background-image: none;
    color: white;
    background: #00a651
}

header#main-header nav.showMenu {
    left: 0
}

header#main-header nav.showMenu .feature {
    display: none
}

header#main-header nav #dateline {
    font-size: 12px;
    font-size: 0.75rem;
    position: relative;
    width: 100%;
    height: 2.6rem;
    overflow: hidden;
    padding: 0;
    color: white;
    background: #05445e;
    -webkit-transition: height .4s;
    transition: height .4s
}

header#main-header nav #dateline a {
    display: inline-block;
    line-height: 2rem;
    text-decoration: none;
    margin: 0;
    vertical-align: bottom
}

header#main-header nav #dateline a svg {
    width: 16px;
    height: 16px;
    vertical-align: middle
}

header#main-header nav #dateline a svg path, header#main-header nav #dateline a svg polygon, header#main-header nav #dateline a svg rect {
    fill: white
}

header#main-header nav #dateline a#toggleLocation {
    margin-right: .5rem
}

header#main-header nav #dateline a#toggleLocation span {
    display: none
}

header#main-header nav #dateline a#toggleLocation span.showing-default {
    display: inline;
    font-style: italic
}

header#main-header nav #dateline a#toggleLocation span.showing-default::after {
    content: ": "
}

@media (min-width: 769px) {
    header#main-header nav #dateline a#toggleLocation span {
        display: inline
    }
}

header#main-header nav #dateline a#toggleSettings, header#main-header nav #dateline a#supportLink {
    float: right;
    margin: 0 .5rem
}

@media (min-width: 769px) {
    header#main-header nav #dateline {
        font-size: 14px;
        /* font-size: 0.875rem; */
        font-size: 1.5rem;
        padding: 0 1rem;
        background: #05445E
    }

    header#main-header nav #dateline a {
        line-height: 2rem;
        text-decoration: none
    }

    header#main-header nav #dateline a svg {
        width: 20px;
        height: 20px
    }

    header#main-header nav #dateline a:first-child {
        float: left;
        margin: 0
    }
}

@media (min-width: 769px) {
    header#main-header.toTop {
        position: fixed;
        height: 3rem;
        min-height: 3rem
    }
}

header#main-header.toTop .wrapper {
    height: 3rem
}

header#main-header.toTop #logo {
    margin: 7px auto 0 auto;
    width: 32px;
    height: 32px
}

header#main-header.toTop #logo svg {
    width: 32px;
    height: 32px
}

header#main-header.toTop .toggle-menu {
    top: .5rem;
    left: .5rem
}

@media (min-width: 769px) {
    header#main-header.toTop nav {
        height: 3rem
    }

    header#main-header.toTop nav #dateline {
        height: 0px
    }

    header#main-header.toTop nav ul li {
        height: 3rem
    }

    header#main-header.toTop nav ul li a {
        padding: .5rem 0 0 0;
        height: 3rem
    }

    header#main-header.toTop nav ul li a svg {
        display: inline-block;
        width: 18px;
        height: 18px
    }

    header#main-header.toTop nav ul li a span {
        display: none
    }

    header#main-header.toTop nav ul li .drop-down {
        top: 3rem
    }

    header#main-header.toTop nav ul li#nav-home a svg {
        width: 215px;
        height: 110%;
        margin: 10px;
    }
    header#main-header.toTop nav ul li#nav-home a svg text:first-child {
        font-size: 30px !important;
    }

    header#main-header.toTop nav ul li#nav-home a svg text:last-child {
        font-size: 14px !important;
    }
}

@media (min-width: 769px) and (min-width: 769px) {
    .home header#main-header.toTop nav ul li#nav-search {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: block
    }
}

main header {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 2rem;
    overflow: hidden;
    color: white;
    background: #EEE;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    -webkit-box-shadow: inset 0px 0px 70px 0px RGBA(0, 0, 0, 0.7);
    box-shadow: inset 0px 0px 70px 0px RGBA(0, 0, 0, 0.7)
}

@media (min-width: 769px) {
    main header {
        min-height: 3rem
    }
}

main header ol.breadcrumbs {
    margin-left: 0;
    height: 2rem;
    font-size: 10px;
    font-size: 0.625rem;
    line-height: 2rem;
    background-color: RGBA(47, 48, 45, 0.95)
}

main header ol.breadcrumbs li {
    color: white;
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0 0 0 .5rem
}

main header ol.breadcrumbs li:last-child {
    padding: 0 0 0 .5rem
}

main header ol.breadcrumbs li a {
    display: block;
    color: white;
    margin: 0;
    padding: 0 1rem 0 0;
    text-decoration: none;
    background: url(../images/main/breadcrumb.svg) center right no-repeat
}

main header ol.breadcrumbs li a:hover {
    text-decoration: underline
}

@media (min-width: 480px) {
    main header ol.breadcrumbs {
        font-size: 11px;
        font-size: 0.6875rem
    }

    main header ol.breadcrumbs li:first-child a {
        padding-left: .5rem
    }
}

main header .sharing {
    font-size: 10px;
    font-size: 0.625rem;
    line-height: 2rem;
    position: absolute;
    top: 0;
    right: 0
}

main header .sharing p {
    display: none;
    margin-right: 1rem;
    padding: 0 0 0 1.5rem;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url(../images/icons/mobileApplications.svg);
    background-size: 16px 16px
}

@media (min-width: 769px) {
    main header .sharing p {
        display: inline-block
    }
}

main header .sharing #socialShare {
    display: block;
    float: right;
    width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0;
    border: none;
    text-indent: -9999em;
    background-color: #515151;
    background-image: url(../images/icons/share-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    -webkit-transition: margin-right .4s;
    transition: margin-right .4s
}

@media (min-width: 480px) {
    main header .sharing #socialShare {
        text-indent: 0;
        width: auto;
        padding: 0 .5rem 0 2rem;
        background-position: 10px center
    }
}

main header .sharing #socialShare.active {
    margin-right: 192px
}

main header .sharing #socialShare:focus {
    outline: none
}

main header .sharing #socialmedialist {
    position: absolute;
    right: -192px;
    top: 0;
    width: 192px;
    height: 2rem;
    -webkit-transition: 0.4s;
    transition: 0.4s
}

main header .sharing #socialmedialist li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 2rem;
    height: 2rem;
    background: #515151
}

main header .sharing #socialmedialist li a {
    display: block;
    width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0;
    border: 4px solid #515151;
    font-weight: 700;
    color: white;
    text-align: center;
    text-indent: -9999em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

main header .sharing #socialmedialist .email a {
    background-color: #00a651;
    background-image: url(../images/icons/social/email.svg)
}

main header .sharing #socialmedialist .facebook a {
    background-color: #395d99;
    background-image: url(../images/icons/social/facebook.svg);
    background-position: center bottom
}

main header .sharing #socialmedialist .linkedin a {
    background-color: #2878b7;
    background-image: url(../images/icons/social/linkedIn.svg)
}

main header .sharing #socialmedialist .twitter a {
    background-color: #48c3f2;
    background-image: url(../images/icons/social/twitter.svg)
}

main header .sharing #socialmedialist .googleplus a {
    background-color: #e2342c;
    background-image: url(../images/icons/social/googlePlus.svg);
    background-position: left bottom
}

main header .sharing #socialmedialist .pinterest a {
    background-color: #bd081c;
    background-image: url(../images/icons/social/pinterest.svg);
    background-size: 100%
}

main header .sharing #socialmedialist.active {
    right: 0
}

@media (min-width: 769px) {
    main header .sharing #socialmedialist {
        min-height: 3rem
    }

    main header .sharing #socialmedialist li, main header .sharing #socialmedialist a {
        height: 3rem
    }
}

@media (min-width: 769px) {
    main header .sharing {
        font-size: 11px;
        font-size: 0.6875rem
    }
}

@media (min-width: 1024px) {
    main header .sharing {
        font-size: 12px;
        font-size: 0.75rem
    }
}

main header section {
    color: #333;
    background: RGBA(47, 48, 45, 0.85);
    margin: 0;
    padding: 0 1rem;
    border: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8)
}

main header section.feature {
    min-height: 12rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2rem
}

@media (min-width: 1024px) {
    main header section.feature {
        min-height: 16rem
    }
}

main header section.feature svg {
    margin-top: .25rem
}

main header section.feature svg path, main header section.feature svg polygon, main header section.feature svg circle, main header section.feature svg rect {
    fill: white
}

main header section.feature h1, main header section.feature p {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6)
}

main header section.feature h1 {
    line-height: 1
}

main header section.feature p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 700;
    clear: both
}

@media (min-width: 769px) {
    main header section.feature p {
        font-size: 18px;
        font-size: 1.125rem
    }
}

main header section h1 {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    background-size: contain;
    font-size: 32px;
    font-size: 2rem;
    line-height: 1.8;
    font-weight: 300;
    color: #EEEEEE;
    text-shadow: #676767
}

main header section p {
    margin: 0;
    padding: 0 0 1rem 0
}

main header section svg {
    float: left;
    width: 32px;
    height: 32px;
    margin: 0.75rem 1rem 0 0;
    padding: 0
}

main header section svg path, main header section svg rect, main header section svg circle, main header section svg polygon {
    fill: #EEEEEE
}

main header section:last-child {
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0
}

@media (min-width: 480px) {
    main header section h1 {
        font-size: 42px;
        font-size: 2.625rem
    }

    main header section svg {
        width: 40px;
        height: 40px;
        margin-top: 1rem
    }
}

@media (min-width: 769px) {
    main header section h1 {
        font-size: 56px;
        font-size: 3.5rem
    }

    main header section svg {
        width: 50px;
        height: 50px;
        margin-top: 1.75rem
    }
}

main {
    position: relative
}

main::after {
    content: " ";
    display: table;
    clear: both
}

main .infographic {
    width: 100%;
    display: none
}

main .infographic.mobile {
    display: block
}

@media (min-width: 480px) {
    main .infographic.mobile {
        display: none
    }

    main .infographic.large {
        display: block
    }
}

main section {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #F0F0F0
}

main section p, main section blockquote, main section ul, main section ol, main section dl, main section address, main section table {
    margin: 1rem 0;
    font-weight: 300
}

main section dl dt {
    font-weight: 700
}

main section dl dd {
    margin-bottom: 1rem
}

main section input, main section textarea, main section select {
    max-width: 100%
}

main section img.img-left {
    float: right
}

main section img.img-right {
    float: right
}

main section.alt {
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
    background: white;
    -webkit-box-shadow: none;
    box-shadow: none
}

main section.alt h2 {
    /* background: #999; */
    text-shadow: none
}

main section h2 {
    color: white;
    margin: 0;
    padding: 1rem;
    background: #05445E;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2.2;

}

main section h2 svg {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
    vertical-align: middle
}

main section h2 svg path, main section h2 svg polygon, main section h2 svg rect, main section h2 svg circle {
    fill: white
}

@media (min-width: 769px) {
    main section h2 {
        font-size: 24px;
        font-size: 1.5rem
    }

    main section h2 svg {
        width: 24px;
        height: 24px
    }
}

@media (min-width: 1024px) {
    main section .search {
        font-size: 28px;
        font-size: 1.75rem;
        padding: 1rem 5%
    }

@media (min-width: 1024px) {
    main section h2 {
        font-size: 28px;
        font-size: 1.75rem;
        padding: 0rem 5% 1px;
    }

    main section h2 svg {
        width: 28px;
        height: 28px
    }
}

main section h2 a, main section h2 a:link, main section h2 a:visited, main section h2 a:hover, main section h2 a:active {
    color: white
}

main section h3 {
    color: #00a651;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1;
    font-weight: 700
}

@media (min-width: 769px) {
    main section h3 {
        font-size: 18px;
        font-size: 1.125rem
    }
}

@media (min-width: 1024px) {
    main section h3 {
        font-size: 20px;
        font-size: 1.25rem
    }
}

main section h3 a, main section h3 a:link, main section h3 a:visited, main section h3 a:hover, main section h3 a:active {
    color: #00a651
}

main section ul li {
    list-style: none;
    margin: 0 0 1rem 0;
    padding: 0 0 0 2em;
    padding: 0 0 0 2rem;
    list-style: disc;
    background-position: left 2px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    text-transform: capitalize;
}

main section ul li.no-list-icon {
    list-style: none;
    background: none;
    padding-left: 0
}

main section ul li.meetingRow {
    background-image: none
}

main section ul li.Application {
    background-image: url(../images/icons/lists/widgets.svg)
}

main section ul li.City {
    background-image: url(../images/icons/lists/map.svg)
}

main section ul li.Notification {
    background-image: url(../images/icons/lists/notification.svg)
}

main section ul li.Search {
    background-image: url(../images/icons/lists/search.svg)
}

main section ul li.Data Viewer, main section ul li.Data, main section ul li.Form, main section ul li.Offline {
    background-image: url(../images/icons/lists/data.svg)
}

main section ul li.CSV {
    background-image: url(../images/icons/lists/csv.svg)
}

main section ul li.KMZ {
    background-image: url(../images/icons/lists/kmz.svg)
}

main section ul li.SHP {
    background-image: url(../images/icons/lists/shp.svg)
}

main section ul li.XML {
    background-image: url(../images/icons/lists/xml.svg)
}

main section ul li.TXT {
    background-image: url(../images/icons/lists/txt.svg)
}

main section ul li.PDF {
    background-image: url(../images/icons/lists/pdf.svg)
}

main section ul li.Blog, main section ul li.RSS, main section ul li.Website, main section ul li.Wiki, main section ul li.Tumblr {
    background-image: url(../images/icons/lists/feeds.svg)
}

main section ul li.ESRI, main section ul li.GIS, main section ul li.Map, main section ul li.location {
    background-image: url(../images/icons/lists/map.svg)
}

main section ul li.Media, main section ul li.Soundcloud {
    background-image: url(../images/icons/lists/multimedia.svg)
}

main section ul li.Audio, main section ul li.Video, main section ul li.Podcast {
    background-image: url(../images/icons/lists/podcasts.svg)
}

main section ul li.Flickr, main section ul li.Instagram, main section ul li.Picasa, main section ul li.Photos {
    background-image: url(../images/icons/lists/photoNetworking.svg)
}

main section ul li.Scribd, main section ul li.Issuu {
    background-image: url(../images/icons/lists/reading.svg)
}

main section ul li.Slideshare {
    background-image: url(../images/icons/lists/presentations.svg)
}

main section ul li.Android, main section ul li.Blackberry, main section ul li.iPhone, main section ul li.Tablet, main section ul li.iPad {
    background-image: url(../images/icons/lists/mobileApplications.svg)
}

main section ul li.Android {
    background-image: url(../images/icons/lists/android.svg)
}

main section ul li.Facebook {
    background-image: url(../images/icons/lists/facebook.svg)
}

main section ul li.GooglePlus {
    background-image: url(../images/icons/lists/googlePlus.svg)
}

main section ul li.Pinterest {
    background-image: url(../images/icons/lists/pinterest.svg)
}

main section ul li.Twitter {
    background-image: url(../images/icons/lists/twitter.svg)
}

main section ul li.YouTube, main section ul li.Vimeo, main section ul li.Video Live {
    background-image: url(../images/icons/lists/youTube.svg)
}

main section ul li.LinkedIn {
    background-image: url(../images/icons/lists/linkedIn.svg)
}

main section ul li.newsCategory {
    background-image: url(../images/icons/news.svg)
}

main section ul li a {
    text-decoration: none
}

main section ul li a:hover {
    text-decoration: underline
}

main section ul.unstyled li {
    list-style: none;
    background: none transparent;
    padding: 0 0 0 1rem
}

main section.tertlinks li {
    overflow: hidden;
    margin: 0 0 1rem 0;
    padding: 0;
    background: none transparent;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8)
}

main section.tertlinks li a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: none;
    background: #999;
    background: rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s
}

main section.tertlinks li a h3 {
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1;
    margin: 0;
    margin-left: 56px
}

main section.tertlinks li a p {
    margin: 0;
    margin-left: 56px;
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.2
}

main section.tertlinks li a img {
    display: inline-block;
    margin: 0 1rem 0 0;
    float: left
}

main section.tertlinks li a:hover {
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.125);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2)
}

main section.tertlinks li a:hover h3 {
    color: #a92807
}

@media (min-width: 480px) {
    main section.tertlinks li {
        height: 12rem;
        padding: 0 1rem 0 0
    }

    main section.tertlinks li:nth-child(2n+2) {
        padding-right: 0
    }
}

@media (min-width: 769px) {
    main section.tertlinks li:nth-child(2n+2) {
        padding-right: 1rem
    }

    main section.tertlinks li:nth-child(3n+3) {
        padding-right: 0
    }
}

main section.section-news {
    color: white;
    background: #a92807;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6)
}

main section.section-news h2 {
    color: white;
    background: rgba(0, 0, 0, 0.4)
}

main section.section-news h3 {
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)
}

main section.section-news a {
    color: white
}

main section.section-news a:hover {
    color: white
}

main section.section-news .featured {
    height: 260px;
    margin: 1rem 0
}

main section.section-news .featured a {
    position: relative;
    display: block;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    border: 0.5rem solid #781c05
}

main section.section-news .featured a h5 {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 1rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6)
}

main section.section-news .featured a .synopsis {
    display: none
}

main section.section-news .featuredVideo {
    margin-top: 1rem;
    height: 260px
}

main section.section-news .featuredVideo iframe {
    width: 100%;
    height: 100%;
    border: 0.5rem solid #781c05;
    overflow: hidden
}

main section.section-news .more-news {
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    padding: .5rem .5rem 0 .5rem;
    border: 0.5rem solid #781c05
}

main section.section-news .more-news li {
    background-image: url(../images/icons/news.svg);
    background-position: left center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    padding: 0.5rem 1rem 0.5rem 2rem;
    margin: 0;
    line-height: 1.2
}

main section.section-news .more-news li:last-child {
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

main section.section-news .more-news a.more {
    display: block;
    padding: .5rem;
    color: white;
    text-decoration: none;
    text-shadow: none;
    text-align: center
}

main section .meetingRow {
    position: relative;
    padding-left: 44px
}

main section .meetingRow .meetingTitle {
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.2;
    font-weight: 700;
    margin: 0
}

main section .meetingRow .month {
    position: absolute;
    top: 4px;
    left: 0;
    width: 30px;
    height: 38px;
    line-height: 1.5em;
    font-size: 10px;
    font-size: 0.625rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    color: white;
    border: 1px solid #a92807;
    background: #a92807;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6)
}

main section .meetingRow .day {
    position: absolute;
    top: 21px;
    left: 2px;
    width: 26px;
    line-height: 1.6em;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 700;
    text-align: center;
    color: #00a651;
    background: white;
    text-shadow: none
}

main section .meetingRow .meetingTime {
    position: absolute;
    width: 1px;
    height: 0px;
    overflow: hidden;
    top: -1px;
    left: -1px
}

main section .meetingRow .meetingLocation {
    display: block;
    font-size: 12px;
    font-size: 0.75rem;
    margin: 0
}

main section.feedback {
    color: white;
    background-color: #787878;
    background-image: url(../images/backgrounds/feedback.jpg);
    border: none
}

main section.feedback fieldset {
    margin: 0;
    padding: 0;
    border: none
}

@media (min-width: 1366px) {
    main section.feedback fieldset {
        margin: 0
    }
}

main section.feedback fieldset legend {
    font-size: 16px;
    font-size: 1rem;
    white-space: normal
}

@media (min-width: 769px) {
    main section.feedback fieldset legend {
        font-size: 18px;
        font-size: 1.125rem
    }
}

@media (min-width: 1024px) {
    main section.feedback fieldset legend {
        font-size: 22px;
        font-size: 1.375rem
    }
}

main section.feedback h2 {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: inset 0 16px 32px -16px rgba(0, 0, 0, 0.16);
    box-shadow: inset 0 16px 32px -16px rgba(0, 0, 0, 0.16);
    padding-bottom: 0;
    border-bottom: none;
    background: none
}

main section.feedback textarea {
    color: #333;
    width: 100%;
    height: 5em;
    padding: .5em;
    border: none;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

main section.feedback input[type=text] {
    color: #333;
    width: 100%;
    margin: 0 0 1rem 0;
    padding: .5em;
    border: none;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

main section.feedback input[type=radio] {
    display: inline;
    margin: 0;
    vertical-align: middle
}

main section.feedback button {
    background-color: #676767
}

main section.feedback label {
    margin: 0 1rem 0 0
}

.mIndex a .title {
    font-size: 17px;
    font-size: 1.0625rem;
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none
}

.mIndex a .title:hover {
    color: #8b0f0a
}

.mIndex a .agency, .mIndex a img {
    display: none
}

.mIndex a .description {
    display: block;
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.2
}

.mdi-filter-section {
    color: white
}

.mdi-filter-section .container {
    padding: 0
}

@media (min-width: 769px) {
    .mdi-filter-section {
        background: -webkit-gradient(linear, left top, right top, color-stop(40%, #513E33), color-stop(50%, #00a651));
        background: -webkit-linear-gradient(left, #513E33 40%, #00a651 50%);
        background: linear-gradient(to right, #513E33 40%, #00a651 50%)
    }
}

.mdi-filter-section label {
    display: block;
    font-size: 20px;
    font-size: 1.25rem
}

.mdi-filter-section input {
    color: #676767
}

.mdi-filter-section button {
    margin: 0 .5rem 0 0;
    padding: .5rem;
    border: none;
    color: #00a651;
    background: #e0dede;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

.mdi-filter-section button:hover {
    background: white
}

.mdi-filter-section button.mobile, .mdi-filter-section button.iPhone, .mdi-filter-section button.iPad {
    padding-left: 32px;
    background-image: url(../images/icons/mobileApplications-btn.svg);
    background-position: left center;
    background-repeat: no-repeat
}

.mdi-filter-section button.Android {
    background-image: url(../images/icons/android.svg)
}

.mdi-filter-section .mdi-filter-search {
    position: relative;
    padding: 1rem;
    background: #513E33
}

.mdi-filter-section .mdi-filter-search #mindexsearch {
    width: 100%;
    height: 3rem;
    padding: .5rem;
    font-size: 24px;
    font-size: 1.5rem;
    border: none;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

.mdi-filter-section .mdi-filter-search .mdi-search-btn {
    position: relative;
    float: right;
    top: -3rem;
    margin: 0;
    width: 3rem;
    height: 3rem;
    color: white;
    background: #00a651;
    border: none;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0
}

@media (min-width: 769px) {
    .mdi-filter-section .mdi-filter-search {
        min-height: 12rem
    }

    .mdi-filter-section .mdi-filter-search #mindexsearch {
        width: 80%
    }

    .mdi-filter-section .mdi-filter-search .mdi-search-btn {
        top: 0;
        right: 20%
    }

    .mdi-filter-section .mdi-filter-search.grid_4 #mindexsearch {
        width: 100%
    }

    .mdi-filter-section .mdi-filter-search.grid_4 .mdi-search-btn {
        top: -3rem;
        right: 0
    }
}

@media (min-width: 1024px) {
    .mdi-filter-section .mdi-filter-search.grid_8 {
        padding: 1rem 1rem 0 0
    }

    .mdi-filter-section .mdi-filter-search.grid_4 {
        padding: 1rem 0 0 1rem
    }
}

.mdi-filter-section #mindexfilterCategory {
    color: #333
}

.mdi-filter-section .mdi-filter-filter {
    padding: 1rem;
    background: #00a651
}

.mdi-filter-section .mdi-filter-filter select {
    color: #333;
    width: 100%
}

@media (min-width: 769px) {
    .mdi-filter-section .mdi-filter-filter {
        min-height: 12rem
    }
}

@media (min-width: 1024px) {
    .mdi-filter-section .mdi-filter-filter.grid_4 {
        padding-right: 0
    }

    .mdi-filter-section .mdi-filter-filter.grid_8 {
        padding-left: 0
    }
}

.mdiSearchResults ul.MDI-Results {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.mdiSearchResults li.item {
    position: relative;
    margin: 0 0 1rem 0;
    padding: 0;
    width: 100%;
    height: 10.5em;
    display: block;
    background-color: #FFFFFF;
    background-size: 5%;
    background-position: 99% 97%;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

@media (min-width: 480px) {
    .mdiSearchResults li.item {
        width: -webkit-calc(50% - 1rem);
        width: calc(50% - 1rem);
        margin-right: .5rem;
        margin-left: .5rem
    }
}

@media (min-width: 769px) {
    .mdiSearchResults li.item {
        width: -webkit-calc(33% - .8rem);
        width: calc(33% - .8rem);
        margin-right: .5rem;
        margin-left: .5rem
    }
}

.mdiSearchResults li.item .title {
    font-size: 17px;
    font-size: 1.0625rem;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.125);
    color: white;
    background-color: #4D4D4D;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    -webkit-transition: .4s all ease;
    transition: .4s all ease
}

@media (min-width: 769px) {
    .mdiSearchResults li.item .title {
        font-size: 18px;
        font-size: 1.125rem
    }
}

@media (min-width: 1024px) {
    .mdiSearchResults li.item .title {
        font-size: 20px;
        font-size: 1.25rem
    }
}

.mdiSearchResults li.item .agency {
    display: block;
    font-style: normal;
    margin: 0;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1)
}

.mdiSearchResults li.item .description {
    font-size: 14px;
    font-size: 0.875rem;
    margin: 0 1rem 0.5rem 1rem;
    padding-top: .5rem
}

@media (min-width: 769px) {
    .mdiSearchResults li.item .description {
        font-size: 15px;
        font-size: 0.9375rem
    }
}

@media (min-width: 1024px) {
    .mdiSearchResults li.item .description {
        font-size: 16px;
        font-size: 1rem
    }
}
.float-child-reachus{
    width: 100%;
    float: left;
    padding: 20px;
    font-family:Open Sans Condensed, Open Sans, Helmut, sans-serif;
}
@media (max-width: 480px) {
    .float-child-reachus {
        width: 100%;
    }
}
.mdiSearchResults li.item .url {
    margin: 0;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: bold
}

.mdiSearchResults li.item a {
    display: block;
    height: 10.5em;
    text-decoration: none;
    border: none;
    margin: 0;
    padding: 0;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
    color: #4D4D4D
}

.mdiSearchResults li.item a:hover .title {
    background-color: #00a651
}

.mdiSearchResults li.item:hover {
    background-color: #FFFFFF;
    background-size: 6%;
    background-position: 99% 97%
}

.moreResults, .totalCount {
    display: inline-block;
    text-align: center;
    width: 100%;
    clear: both
}

.mdi-getmore {
    margin: 1rem;
    display: block;
    text-align: center;
    padding: 1rem;
    border: none;
    color: #00a651;
    background: white;
    font-size: 1.2rem;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

.mdi-getmore:hover {
    color: white;
    background: #00a651
}

footer {
    position: relative;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 1rem;
    font-size: 15px;
    font-size: 0.9375rem;
    color: #333333;
    background: white;
    /* text-shadow: 0 1px 0 white */
}

footer .wrapper .flex-item .footer-title {
    color: #666;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 700;
    margin: .5rem 0 0 0
}

footer .wrapper .flex-item ul li {
    display: inline-block;
    margin-right: 1rem
}

@media (min-width: 480px) {
    footer .wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        margin: 1rem auto
    }

    footer .wrapper .flex-item {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1
    }

    footer .wrapper .flex-item ul li {
        display: block;
        margin: 0
    }

    footer .wrapper .flex-item#footerAwards {
        -webkit-box-flex: 2;
        -webkit-flex: 2;
        -ms-flex: 2;
        flex: 2
    }
}

footer p {
    line-height: 1.2em;
    margin: .5em 0
}

footer .copyright {
    text-align: center
}

footer a {
    color: #333333;
    text-decoration: none
}

footer a:hover {
    color: #333333;
    text-decoration: underline
}

footer #footerSocial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 0 auto 1rem auto;
    padding: 0
}

@media (min-width: 1024px) {
    footer #footerSocial {
        width: 90%
    }
}

footer #footerSocial li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

footer #footerSocial li a {
    display: block;
    position: relative;
    bottom: 0;
    margin: 0 auto;
    height: 48px;
    line-height: 48px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    text-indent: -9999em;
    -webkit-transition: 0.4s;
    transition: 0.4s
}

footer #footerSocial li a:hover {
    bottom: 4px;
    text-decoration: none
}

@media (min-width: 480px) {
    footer #footerSocial li a {
        text-indent: 0;
        background-position: left center;
        padding-left: 26px
    }
}

@media (min-width: 769px) {
    footer #footerSocial li a {
        background-size: 32px 32px;
        padding: 0 0 0 36px
    }
}

footer #footerSocial #iconConnectTwitter a {
    background-image: url(../images/icons/twitter.svg)
}

footer #footerSocial #iconFacebook a {
    background-image: url(../images/icons/facebook.svg)
}

footer #footerSocial #iconConnectMobile a {
    background-image: url(../images/icons/lists/mobileApplications.svg)
}

footer #footerSocial #iconWidgets a {
    background-image: url(../images/icons/widgets.svg)
}

footer #footerSocial #iconConnectPhotos a {
    background-image: url(../images/icons/photo.svg)
}

footer #footerSocial #iconRSS a {
    background-image: url(../images/icons/feeds.svg)
}

footer #footerSocial #iconConnectBlogs a {
    background-image: url(../images/icons/utahBlogs.svg)
}

footer #footerSocial #iconYouTube a {
    background-image: url(../images/icons/youTube.svg)
}

footer #portalFooter {
    text-align: center
}

footer #portalFooter li {
    display: inline-block
}

footer #portalFooter li::after {
    content: " | ";
    color: #bbb
}

footer #portalFooter li:last-child::after {
    content: ""
}

.icon {
    width: 32px;
    height: 32px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-position: center;
    background-size: 100%;
    background-color: transparent;
    display: inline-block;
    margin: 0 1rem 0 0;
    float: left
}

@media (min-width: 480px) {
    .icon {
        width: 40px;
        height: 40px
    }
}

.icon.icons-about-demographics {
    background-image: url("../images/icons/demographics.svg")
}

.icon.icons-about-environment {
    background-image: url("../images/icons/environment.svg")
}

.icon.icons-about-arts {
    background-image: url("../images/icons/arts.svg")
}

.icon.icons-about-symbols {
    background-image: url("../images/icons/symbols.svg")
}

.icon.icons-about-facts {
    background-image: url("../images/icons/facts.svg")
}

.icon.icons-about-maps {
    background-image: url("../images/icons/maps.svg")
}

.icon.icons-about-history {
    background-image: url("../images/icons/history.svg")
}

.icon.icons-business-assess {
    background-image: url("../images/icons/assessGrowth.svg")
}

.icon.icons-business-structure {
    background-image: url("../images/icons/radio.svg")
}

.icon.icons-business-plan {
    background-image: url("../images/icons/lists/form.svg")
}

.icon.icons-business-requirements {
    background-image: url("../images/icons/checklist.svg")
}

.icon.icons-business-running {
    background-image: url("../images/icons/briefcase.svg")
}

.icon.icons-business-relocating {
    background-image: url("../images/icons/relocate.svg")
}

.icon.icons-business-dissolve {
    background-image: url("../images/icons/dissolve.svg")
}

.icon.icons-business-resources {
    background-image: url("../images/icons/dollar.svg")
}

.icon.icons-connect-facebook {
    background-image: url("../images/icons/facebook.svg")
}

.icon.icons-connect-twitter {
    background-image: url("../images/icons/twitter.svg")
}

.icon.icons-connect-youtube {
    background-image: url("../images/icons/youTube.svg")
}

.icon.icons-connect-googleplus {
    background-image: url("../images/icons/lists/googlePlus.svg")
}

.icon.icons-connect-feeds {
    background-image: url("../images/icons/feeds.svg")
}

.icon.icons-connect-multimedia {
    background-image: url("../images/icons/multimedia.svg")
}

.icon.icons-connect-blogs {
    background-image: url("../images/icons/utahBlogs.svg")
}

.icon.icons-connect-mobile {
    background-image: url("../images/icons/lists/mobileApplications.svg")
}

.icon.icons-connect-photos {
    background-image: url("../images/icons/photo.svg")
}

.icon.icons-connect-widgets {
    background-image: url("../images/icons/widgets.svg")
}

.icon.icons-connect-presentations {
    background-image: url("../images/icons/presentations.svg")
}

.icon.icons-connect-podcasts {
    background-image: url("../images/icons/podcasts.svg")
}

.icon.icons-connect-publications {
    background-image: url("../images/icons/publications.svg")
}

.icon.icons-connect-pinterest {
    background-image: url("../images/icons/lists/pinterest.svg")
}

.icon.icons-connect-linkedin {
    background-image: url("../images/icons/linkedIn.svg")
}

.icon.icons-connect-connectplus {
    background-image: url("../images/icons/connectPlus.svg")
}

.icon.icons-connect-flipboard {
    background-image: url("../images/icons/flipboard.svg")
}

.icon.icons-connect-collaborate {
    background-image: url("../images/icons/collaborate.svg")
}

.icon.icons-connect-qrcodes {
    background-image: url("../images/icons/qr.svg")
}

.icon.icons-connect-developer {
    background-image: url("../images/icons/developer.svg")
}

.icon.icons-education-colleges {
    background-image: url("../images/icons/universities.svg")
}

.icon.icons-education-resources {
    background-image: url("../images/icons/resources.svg")
}

.icon.icons-education-homework {
    background-image: url("../images/icons/homeworkHelp.svg")
}

.icon.icons-education-k12 {
    background-image: url("../images/icons/k12Education.svg")
}

.icon.icons-education-libraries {
    background-image: url("../images/icons/libraries.svg")
}

.icon.icons-education-reports {
    background-image: url("../images/icons/schoolReports.svg")
}

.icon.icons-education-stem {
    background-image: url("../images/icons/stem.svg")
}

.icon.icons-education-network {
    background-image: url("../images/icons/studentNetwork.svg")
}

.icon.icons-education-history {
    background-image: url("../images/icons/utahHistoryForKids.svg")
}

.icon.icons-employment-careers {
    background-image: url("../images/icons/briefcase.svg")
}

.icon.icons-employment-explore {
    background-image: url("../images/icons/education.svg")
}

.icon.icons-employment-findjob {
    background-image: url("../images/icons/search.svg")
}

.icon.icons-employment-opportunities {
    background-image: url("../images/icons/stateEmployment.svg")
}

.icon.icons-education-innovation {
    background-image: url("../images/icons/innovation.svg")
}

.icon.icons-education-accountability {
    background-image: url("../images/icons/accountability.svg")
}

.icon.icons-education-investment {
    background-image: url("../images/icons/investment.svg")
}

.icon.icons-government-city {
    background-image: url("../images/icons/cityCounty.svg")
}

.icon.icons-government-voting {
    background-image: url("../images/icons/electionVoting.svg")
}

.icon.icons-government-executive {
    background-image: url("../images/icons/executive.svg")
}

.icon.icons-government-federal {
    background-image: url("../images/icons/federal.svg")
}

.icon.icons-government-judicial {
    background-image: url("../images/icons/judicial.svg")
}

.icon.icons-government-legislative {
    background-image: url("../images/icons/legislative.svg")
}

.icon.icons-government-governor {
    background-image: url("../images/icons/governor.svg")
}

.icon.icons-government-agency {
    background-image: url("../images/icons/stateAgency.svg")
}

.icon.icons-government-telephone {
    background-image: url("../images/icons/stateTelephoneDirectory.svg")
}

.icon.icons-government-laws {
    background-image: url("../images/icons/utahLaws.svg")
}

.icon.icons-residents-arts {
    background-image: url("../images/icons/arts.svg")
}

.icon.icons-residents-transport {
    background-image: url("../images/icons/transportation.svg")
}

.icon.icons-residents-community {
    background-image: url("../images/icons/community.svg")
}

.icon.icons-residents-health {
    background-image: url("../images/icons/health.svg")
}

.icon.icons-residents-help {
    background-image: url("../images/icons/helpNeighbor.svg")
}

.icon.icons-residents-youth {
    background-image: url("../images/icons/youth.svg")
}

.icon.icons-residents-moving {
    background-image: url("../images/icons/moving.svg")
}

.icon.icons-residents-newcomer {
    background-image: url("../images/icons/newcomers.svg")
}

.icon.icons-residents-seniors {
    background-image: url("../images/icons/seniors.svg")
}

.icon.icons-residents-recreation {
    background-image: url("../images/icons/recreation.svg")
}

.icon.icons-residents-tax {
    background-image: url("../images/icons/tax.svg")
}

.icon.icons-residents-laws {
    background-image: url("../images/icons/utahLaws.svg")
}

.icon.icons-visiting-arts {
    background-image: url("../images/icons/arts.svg")
}

.icon.icons-visiting-highway {
    background-image: url("../images/icons/highway.svg")
}

.icon.icons-visiting-sports {
    background-image: url("../images/icons/recreation.svg")
}

.icon.icons-visiting-parks {
    background-image: url("../images/icons/stateParks.svg")
}

.icon.icons-visiting-tourism {
    background-image: url("../images/icons/tourism.svg")
}

.icon.icons-openutah-admin {
    background-image: url("../images/icons/open/administrativeRules.svg")
}

.icon.icons-openutah-apis {
    background-image: url("../images/icons/open/apis.svg")
}

.icon.icons-openutah-code {
    background-image: url("../images/icons/open/utahCode.svg")
}

.icon.icons-openutah-email {
    background-image: url("../images/icons/open/emailRepository.svg")
}

.icon.icons-openutah-auditor {
    background-image: url("../images/icons/open/auditorReports.svg")
}

.icon.icons-openutah-campaign {
    background-image: url("../images/icons/open/campaignContributions.svg")
}

.icon.icons-openutah-collaborate {
    background-image: url("../images/icons/open/collaborate.svg")
}

.icon.icons-openutah-courts {
    background-image: url("../images/icons/open/courtsLegalNotices.svg")
}

.icon.icons-openutah-data {
    background-image: url("../images/icons/open/courtsLegalNotices.svg")
}

.icon.icons-openutah-insurance {
    background-image: url("../images/icons/open/insuranceTransparency.svg")
}

.icon.icons-openutah-legal {
    background-image: url("../images/icons/open/legalNotices.svg")
}

.icon.icons-openutah-legislation {
    background-image: url("../images/icons/open/legislation.svg")
}

.icon.icons-openutah-lobbyist {
    background-image: url("../images/icons/open/lobbyist.svg")
}

.icon.icons-openutah-localgov {
    background-image: url("../images/icons/open/localGovernmentFinancialReports.svg")
}

.icon.icons-openutah-meetings {
    background-image: url("../images/icons/open/publicMeetings.svg")
}

.icon.icons-openutah-records {
    background-image: url("../images/icons/open/recordsAccessManagement.svg")
}

.icon.icons-openutah-contracts {
    background-image: url("../images/icons/open/stateContracts.svg")
}

.icon.icons-openutah-reports {
    background-image: url("../images/icons/open/stateReports.svg")
}

.icon.icons-openutah-spending {
    background-image: url("../images/icons/open/stateSpending.svg")
}

.icon.icons-openutah-publications {
    background-image: url("../images/icons/open/utahGovernmentPublications.svg")
}

.icon.icons-openutah-performance {
    background-image: url("../images/icons/open/utahPerformance.svg")
}

.icon.icons-openutah-ombudsman {
    background-image: url("../images/icons/open/utahRecordsOmbudsman.svg")
}

.icon.icons-other-location {
    background-image: url("../images/icons/map/marker.svg")
}

.icon.icons-other-notification {
    background-image: url("../images/icons/lists/notification.svg")
}

.icon.icons-other-search {
    background-image: url("../images/icons/search.svg")
}

.icon.icons-data-categories {
    background-image: url("../images/icons/data/categories.svg")
}

.icon.icons-data-allData {
    background-image: url("../images/icons/data/all.svg")
}

.icon.icons-data-tools {
    background-image: url("../images/icons/data/tools.svg")
}

.icon.icons-data-education {
    background-image: url("../images/icons/data/education.svg")
}

.icon.icons-data-health {
    background-image: url("../images/icons/data/health.svg")
}

.icon.icons-data-business {
    background-image: url("../images/icons/data/business.svg")
}

.icon.icons-data-publicSafety {
    background-image: url("../images/icons/data/publicSafety.svg")
}

.icon.icons-data-energy {
    background-image: url("../images/icons/data/energy.svg")
}

.icon.icons-data-transportation {
    background-image: url("../images/icons/data/transportation.svg")
}

.icon.icons-data-recreation {
    background-image: url("../images/icons/data/recreation.svg")
}

.icon.icons-data-socialServices {
    background-image: url("../images/icons/data/socialServices.svg")
}

.icon.icons-data-government {
    background-image: url("../images/icons/data/government.svg")
}

.icon.icons-collaborate-dataVisualizations {
    background-image: url("../images/icons/collaborate/dataVisualizations.svg")
}

.icon.icons-collaborate-mobileApplications {
    background-image: url("../images/icons/collaborate/mobileApplications.svg")
}

.icon.icons-collaborate-maps {
    background-image: url("../images/icons/collaborate/maps.svg")
}

.icon.icons-collaborate-location {
    background-image: url("../images/icons/collaborate/location.svg")
}

.icon.icons-collaborate-photo {
    background-image: url("../images/icons/collaborate/photo.svg")
}

.icon.icons-collaborate-video {
    background-image: url("../images/icons/collaborate/video.svg")
}

.icon.icons-collaborate-widgets {
    background-image: url("../images/icons/collaborate/widgets.svg")
}

.icon.icons-collaborate-blogs {
    background-image: url("../images/icons/collaborate/blogs.svg")
}

.icon.icons-collaborate-clear {
    background-image: url("../images/icons/clear.svg")
}

.gm-style img {
    max-width: none
}

.gm-style label {
    width: auto;
    display: inline
}

.locationAwareMap, .infoMap {
    height: 320px;
    background-color: #676767;
    position: relative;
    padding: 0;
    border: none
}

.locationAwareMap[data-mapsize='large'], .infoMap[data-mapsize='large'] {
    height: 640px
}

@media (min-width: 769px) {
    .locationAwareMap, .infoMap {
        height: 480px
    }
}

.locationAwareMap h2, .infoMap h2 {
    background-color: #004b51
}

.locationAwareMap li, .infoMap li {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    margin: 0.5rem 0;
    padding-left: 2rem;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 1.25rem
}

.locationAwareMap li.city, .infoMap li.city {
    background-image: url(../images/icons/map/city.svg)
}

.locationAwareMap li.citybuildings, .infoMap li.citybuildings {
    background-image: url(../images/icons/map/cityBuilding.svg)
}

.locationAwareMap li.countybuildings, .infoMap li.countybuildings {
    background-image: url(../images/icons/map/countyBuilding.svg)
}

.locationAwareMap li.driverlicense, .infoMap li.driverlicense {
    background-image: url(../images/icons/map/driverLicense.svg)
}

.locationAwareMap li.library, .infoMap li.library {
    background-image: url(../images/icons/map/library.svg)
}

.locationAwareMap li.park, .infoMap li.park {
    background-image: url(../images/icons/map/park.svg)
}

.locationAwareMap li.school, .infoMap li.school {
    background-image: url(../images/icons/map/school.svg)
}

.locationAwareMap li.schooldistricts, .infoMap li.schooldistricts {
    background-image: url(../images/icons/map/schoolDistrict.svg)
}

.locationAwareMap li.stateparks, .infoMap li.stateparks {
    background-image: url(../images/icons/map/statePark.svg)
}

.locationAwareMap li.zipcode, .infoMap li.zipcode {
    background-image: url(../images/icons/map/zip.svg)
}

@media (min-width: 769px) {
    .locationAwareMap li, .infoMap li {
        font-size: 14px;
        font-size: 0.875rem
    }
}

@media (min-width: 1024px) {
    .locationAwareMap li, .infoMap li {
        font-size: 16px;
        font-size: 1rem
    }
}

.locationAwareMap .mdi-map, .infoMap .mdi-map {
    height: 100%
}

.locationAwareMap .marker-list, .infoMap .marker-list {
    position: absolute;
    right: 0;
    top: 3.5rem;
    width: 36%;
    height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #007B84;
    background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.5), transparent), rgba(0, 75, 81, 0.8);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent), rgba(0, 75, 81, 0.8);
    padding: 1rem;
    -webkit-box-shadow: 0px 10px 20px -20px #111111 inset;
    box-shadow: 0px 10px 20px -20px #111111 inset;
    color: #e0dede
}

.locationAwareMap .marker-list.active, .infoMap .marker-list.active {
    height: 100%;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 10px 0 30px -20px #111111;
    box-shadow: inset 10px 0 30px -20px #111111
}

@media (min-width: 769px) {
    .locationAwareMap .marker-list, .infoMap .marker-list {
        top: 3.8125rem
    }
}

@media (min-width: 1024px) {
    .locationAwareMap .marker-list, .infoMap .marker-list {
        top: 4.0625rem
    }
}

.locationAwareMap .marker-list ul, .infoMap .marker-list ul {
    margin: 0;
    padding: 0 0 4em 0
}

.locationAwareMap .marker-list ul a.markeritem, .infoMap .marker-list ul a.markeritem {
    display: block;
    padding: 0.3em 0
}

.locationAwareMap .marker-list h3, .infoMap .marker-list h3 {
    margin: 0;
    text-shadow: 0 1px 0 black
}

.locationAwareMap .marker-list a, .infoMap .marker-list a {
    color: #F5F5F5
}

.locationAwareMap .marker-list a:hover, .infoMap .marker-list a:hover {
    color: #e0dede
}

.locationAwareMap .marker-list .marker-search, .infoMap .marker-list .marker-search {
    position: relative
}

.locationAwareMap .marker-list .marker-search ::-webkit-input-placeholder, .infoMap .marker-list .marker-search ::-webkit-input-placeholder {
    color: white
}

.locationAwareMap .marker-list .marker-search :-moz-placeholder, .infoMap .marker-list .marker-search :-moz-placeholder {
    color: white
}

.locationAwareMap .marker-list .marker-search ::-moz-placeholder, .infoMap .marker-list .marker-search ::-moz-placeholder {
    color: white
}

.locationAwareMap .marker-list .marker-search :-ms-input-placeholder, .infoMap .marker-list .marker-search :-ms-input-placeholder {
    color: white
}

.locationAwareMap .marker-list .marker-search .showing-outofstate, .infoMap .marker-list .marker-search .showing-outofstate {
    font-size: .8em;
    font-style: italic
}

.locationAwareMap .marker-list .marker-search .search, .infoMap .marker-list .marker-search .search {
    width: 100%;
    font-size: 16px;
    font-size: 1rem;
    padding: 0.6em;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: lighter;
    color: #F5F5F5
}

.locationAwareMap #map-types h3, .infoMap #map-types h3 {
    color: #fdfdfd;
    background: url(../images/icons/showHideSection-icon-white.png) no-repeat 1rem center #333;
    cursor: pointer;
    left: 0;
    padding: 0.7em 1rem 0.7em 2.8em;
    position: absolute;
    top: 0;
    width: 100%;
    font-weight: lighter
}

.locationAwareMap #map-types h4, .infoMap #map-types h4 {
    margin: 0;
    padding: 8px 0;
    text-shadow: none
}

.locationAwareMap #map-types ul, .infoMap #map-types ul {
    margin: 0
}

.locationAwareMap #map-types .menu, .infoMap #map-types .menu {
    background: rgba(51, 51, 51, 0.7);
    border-bottom: 1px solid #5E5E5E;
    -webkit-box-shadow: 0px -1px 1px 0 #2F2F2F inset;
    box-shadow: 0px -1px 1px 0 #2F2F2F inset;
    margin: 0 -1em;
    padding: 0 1rem 1rem
}

.locationAwareMap h4.marker-title, .infoMap h4.marker-title {
    margin: 0
}

.gsc-control-cse {
    background-color: white;
    border-color: transparent
}

.gsc-control-cse .gsc-tabsArea, .gsc-control-cse .gsc-resultsHeader {
    display: none !important
}

.gsc-control-cse .gsc-result {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0
}

.gsc-control-cse .gsc-result-info {
    margin: 0
}

.gsc-control-cse .gsc-results .gsc-cursor-box .gsc-cursor-page {
    background: transparent !important
}

.gsc-control-cse .gcs-table-result {
    border-bottom: 1px solid #ccc
}

.gsc-control-cse .gsc-thumbnail {
    padding-right: 1rem
}

.gsc-control-cse .gs-title {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 700
}

.gsc-control-cse, .gsc-control-cse .gsc-table-result, .gsc-refinementsArea {
    width: 100%;
    font-family: "Open Sans Condensed", "Open Sans", Helmut, sans-serif !important;
    font-size: 100% !important;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto
}

.invisible{
    visibility: hidden !important;
}

/*# sourceMappingURL=style.css.map */
}
