.youtubevideo{max-width:640px;height:420px;margin:1rem auto}@media (min-width: 769px){.youtubevideo{height:480px}}.youtubevideo iframe{width:100%;height:100%;overflow:hidden}

/*# sourceMappingURL=section.css.map */
