section.submit p label{font-weight:bold;clear:both}section.submit p input{width:100%;margin:0 0 1rem 0;padding:.5em}section.submit p textarea{height:5em;width:100%;margin:0 0 1rem 0;padding:.5em}section.submit p.buttons{width:70px;padding:none}

/*# sourceMappingURL=section.css.map */
