.mdiSearchResults li.item {
    background-color: #fff;
    background-position: 99% 97%;
    background-size: 5% auto;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    display: block;
    height: 10.5em;
    padding: 0;
    position: relative;
    transition: all .4s ease 0;
    margin-bottom: 10px
}

.mdiSearchResults li.item .title {
    background-color: #4d4d4d;
    border-bottom: 1px solid rgba(255, 255, 255, 0.125);
    color: #fff;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: .5rem 1rem;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    transition: all .4s ease 0s
}

.mdiSearchResults li.item .description {
    padding-top: .5rem
}

.agencylist main header section {
    border-bottom: 1px solid white
}

.citycounty section.locationAwareMap h2 {
    border: none
}

section .gov-jobs {
    background-image: url(../../../images/icons/lists/gov/employment.svg)
}

section .gov-education {
    background-image: url(../../../images/icons/lists/gov/education.svg)
}

section .gov-energy {
    background-image: url(../../../images/icons/lists/gov/energy.svg)
}

section .gov-self {
    background-image: url(../../../images/icons/lists/gov/self.svg)
}

section .agency-search {
    position: relative
}

@media (min-width: 1024px) {
    section .agency-search {
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        width: 33%;
        height: 3rem
    }
}

section .agency-search .search-agencies {
    font-size: 18px;
    font-size: 1.125rem;
    padding: 1rem 1rem 1rem 48px;
    width: 100%;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: none;
    color: black;
    background: rgba(255, 255, 255, 1) url(../../../images/icons/search.svg) 16px 16px no-repeat
}

section .agency-search .search-agencies:focus {
    background: rgba(0, 0, 0, 0.2) url(../../../images/icons/search.svg) 16px 16px no-repeat
}

section .agency-search button {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    text-indent: -999em;
    background: transparent url(../../../images/icons/clear.svg) center no-repeat;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

section.agency-section {
    padding: 0;
    border-top: none;
    /* border-bottom: 1px solid #2f5371; */
    border-bottom: 1px solid #00a651;
    background-color: #e0dede
}

section.agency-section h2 {
    /* color: #346276; */
    color: #00a651;
    cursor: pointer;
    background-color: #e0dede;
    border: none;
    -webkit-transition-property: border, background-color;
    transition-property: border, background-color;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transition-timing-function: cubic-bezier(0, 0.35, 0.5, 1.3);
    transition-timing-function: cubic-bezier(0, 0.35, 0.5, 1.3)
}

section.agency-section h2 svg {
    float: right
}

section.agency-section h2 svg path, section.agency-section h2 svg polygon, section.agency-section h2 svg rect {
    fill: #346276
}

section.agency-section h2:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    /* border-bottom: 4px solid #2f5371 */
    border-bottom: 4px solid#00a651;
}

section.agency-section h2.noHover {
    background: none transparent;
    cursor: default
}

section.agency-section h2.noHover svg path, section.agency-section h2.noHover svg polygon, section.agency-section h2.noHover svg rect, section.agency-section h2.noHover svg circle {
    fill: #ccc
}

section.agency-section h2.noHover:hover {
    border-bottom: none;
    background: none
}

section.agency-section.alt {
    margin: 0;
    color: white;
    background-color: #00a651;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
}

section.agency-section.alt.file-link-sec {
    margin: 0;
    color: white;
    background-color: #f0f0f0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
}

section.agency-section.alt a {
    color: white
}

section.agency-section.alt.file-link-sec a {
    color: #346276
}

section.agency-section.alt h2 {
    color: white;
    /* background-color: #244553 */
    background-color: #0e6c3c;
}

section.agency-section.alt h2 svg path, section.agency-section.alt h2 svg polygon, section.agency-section.alt h2 svg rect {
    fill: white
}

section.agency-section.alt h2:hover {
    border-bottom: none
}

section.agency-section.alt li {
    background-image: url(../../../images/icons/lists/agency-link-alt.svg)
}

section.agency-section.alt li.file-link {
    background-image: url(../../../images/icons/lists/data.svg)
}

.featuredCityCounty {
    margin: 1em 0
}

.featuredCityCounty a h3 {
    margin-left: 76px !important
}

.featuredCityCounty a p {
    margin-left: 76px !important
}

.cityCountyLinks {
    position: absolute;
    top: 0;
    right: 0;
    width: -webkit-calc((99.999% / 12) * 4);
    width: calc((99.999% / 12) * 4);
    height: 100%;
    background: #676767
}

.cityCountyLinks h3 {
    color: white;
    padding: 0 1rem;
    text-shadow: none
}

.cityCountyLinks select {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 13rem
}

.cityCountyLinks select#citymenu {
    top: 3rem
}

.alphaAgencies {
    position: absolute;
    top: 1rem;
    right: 0;
    width: -webkit-calc((99.999% / 12) * 6);
    width: calc((99.999% / 12) * 6)
}

iframe.countyMap {
    width: 100%;
    height: 264px
}

@media (min-width: 769px) {
    iframe.countyMap {
        height: 419px
    }
}

@media (min-width: 1024px) {
    iframe.countyMap {
        height: 415px
    }
}

/*# sourceMappingURL=section.css.map */
