section ul li{margin-bottom:0}section ul li img{max-width:50px;height:auto;max-height:50px;float:left;margin:22px 20px 0 0}section ul li p{padding:0 0 0 70px}section ul li:nth-child(2n+2) p{padding-right:0}

/*# sourceMappingURL=section.css.map */
