body #pageNav ul li{margin-bottom:0;font-weight:bold}body .question{font-size:1.1rem;font-style:italic;margin-bottom:5px;margin-top:30px}body img.bodyImg{float:right;margin:0 18px 30px 18px;width:-webkit-calc((99.999% / 12) * 2);width:calc((99.999% / 12) * 2);height:auto}

/*# sourceMappingURL=section.css.map */
