html {
    width: 100%;
}
* > * {
    margin:0;
    padding:0;
}

body {font: 14px/24px Helvetica,Arial,Verdana,sans-serif; width: 100%;}

h1{
    font-family:Corbel,'Myriad Pro',Arial, Helvetica, sans-serif;
    background:url('img/heading.png') no-repeat center top;
    text-indent:-9999px;
    overflow:hidden;
    height:90px;
}

#searchForm{
    /* The search form. */
    position:relative;
}

fieldset{
    border:none;
}

#searchInputContainer{
    /* This div contains the transparent search box */
    width:420px;
    height:36px;
    background:url("img/searchBox.png") no-repeat;
    float:left;
    margin-right:12px;
}

#s{
    /* The search text box. */

    border:none;
    color:#888888;
    background:url("img/searchBox.png") no-repeat;

    float:left;
    font-family:Arial,Helvetica,sans-serif;
    font-size:15px;
    height:36px;
    line-height:36px;
    margin-right:12px;
    outline:medium none;
    padding:0 0 0 35px;
    width:385px;
}

/* The UL that contains the search type icons */

.icons{
    list-style:none;
    margin:10px 0 0 335px;
    height:19px;
    position:relative;
}

.icons li{
    background:url("img/icons.png") no-repeat;
    float:left;
    height:19px;
    text-indent:-9999px;
    cursor:pointer;
    margin-right:5px;
}

/* Styling each icon */

li.web{ width:15px;}
li.web.active,
li.web:hover{ background-position:left bottom;}

li.images{ width:22px; background-position:-18px 0;}
li.images.active,
li.images:hover{ background-position:-18px bottom;}

li.news{ width:14px; background-position:-44px 0;}
li.news.active,
li.news:hover{ background-position:-44px bottom;}

li.videos{ width:17px; background-position:right 0;}
li.videos.active,
li.videos:hover{ background-position:right bottom;}

span.arrow{
    /* The little arrow that moves below the icons */

    width:11px;
    height:6px;
    margin:21px 0 0 5px;
    position:absolute;
    background:url('img/arrow.png') no-repeat;
    left:0;
}


/* The submit button */


#submitButton{
    background:url('img/buttons.png') no-repeat;
    width:83px;
    height:36px;
    text-indent:-9999px;
    overflow:hidden;
    text-transform:uppercase;
    border:none;
    cursor:pointer;
}

#submitButton:hover{
    background-position:left bottom;
}


#searchInContainer{display:none;}


label{
    color:#DDDDDD;
    cursor:pointer;
    font-size:11px;
    position:relative;
    right:-2px;
    top:-2px;
    margin-right:10px;
    white-space:nowrap;
    /*float:left;*/
}

input[type=radio]{
    cursor:pointer;
    /*float:left;*/
}


/* Styling the search results */


.pageContainer{
    /* Holds each page with search results. Has an inset bottom border. */
    border-bottom:1px solid #5e7481;
    margin-bottom:50px;
}


p.notFound{	text-align:center;	padding:0 0 40px;}


/* Web & news results */


.webResult{ margin-bottom:10px;}
.webResult h2 b{ color:#333; }
.webResult h2 a{ color: #3C6489;  font-size: 16px;    text-decoration: underline;    text-transform: capitalize; border:none; font-weight: normal;}
.webResult p{ line-height:1.5;}
.webResult p b{ color:#000;}


/* The show more button */

#more{
    width:340px;
    height:50px;
    cursor:pointer;
    margin:40px auto;
    background: url(images/more.png) no-repeat top center;
    text-align:center;
    text-indent:-9999px;
}

#more:hover{
    background: url(images/more.png) no-repeat center -53px ;
}

a, a:visited {
    text-decoration:none;
    outline:none;
    /* border-bottom:1px dotted #786353; */
    color:#786353;
}

a:hover{
    /* border-bottom:1px dashed transparent; */
}

.clear{
    clear:both;
}


#gseResults {margin: 5px 0 0 10px;width: 570px;}
