section table{width:600px}section table th{background-color:#346276;color:white;width:60%;height:30px;text-align:left;vertical-align:middle;text-shadow:none;padding:10px}section table td{padding:10px;width:40%;border-bottom:1px solid #ccc}section table td:nth-child(1){padding:10px 10px 10px 24px}section table tr.parent{background:#bababa}section table tr.parent td{padding:10px}section table tr.subcategory td:nth-child(1){padding:10px 10px 10px 38px}section pre.code{font-family:"Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;font-size:1em;-webkit-border-radius:6px;border-radius:6px;background:#797979;border:1px solid #dadada;padding:30px;color:white;text-shadow:none;margin:10px;white-space:pre}

/*# sourceMappingURL=section.css.map */
