section.educationGoals{background-color:#797979;background-image:none;border-top:none;border-bottom-color:#333333}section.educationGoals h2{background-color:#797979;color:white;background-image:url(../../../images/icons/showHideSection-icon-white.html);-webkit-box-shadow:inset 0 16px 16px -16px #888;box-shadow:inset 0 16px 16px -16px #888;border:none}section.prosperity ul li a h3{margin-top:10px}section ul#symbols{padding-bottom:1.6em}section ul#symbols li{list-style:none}section ul#symbols li img.symbol{right:0;margin-left:10px;width:20px;float:right;right:20px;position:relative;height:auto}@media (min-width: 769px){section ul#symbols li img.symbol{right:20px;margin-left:0;width:30px}}

/*# sourceMappingURL=section.css.map */
